name: ContentMnanagement-manifest

on:
  push:
    branches:
      - master

env:
  IMAGE_NAME: contentmanagement

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and pushing Docker image
        run: |
          cd ContentManagement
          docker build -t cyrinls/contentmanagement .
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
          
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD:  ${{secrets.DOCKER_PASSWORD}}
          
      - name: Push Docker image
        run: docker push cyrinls/contentmanagement  

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Kubernetes cluster
        run: |
          kubectl apply -f infra/k8s
