name: ContentMnanagement-manifest

on:
  push:
    branches:
      - master

env:
  IMAGE_NAME: contentmanagement

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and pushing Docker image
        run: |
          cd ContentManagement
          docker build -t cyrinls/contentmanagement .
          docker login -u $DOCKER_USERNAME -P $DOCKER_PASSWORD
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD:  ${{secrets.DOCKER_PASSWORD}}
          
      - name: Push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: cyrinls/contentmanagement:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Install kubectl
        uses: azure/k8s-set-context@v1
        with:
          version: 'latest'

      - name: Deploy to Kubernetes cluster
        run: |
          kubectl apply -f infra/k8s
